/*General list styling for nav*/
ul {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 200;
  justify-content: center;
  transition: all 5ms linear;
}

li {
  list-style: none;
  padding: 0.8rem 1.5rem;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  outline: none;
}

ul li span {
  border-bottom: 3px solid white;
  transition: 0.8s;
  display: inline-block;
  padding: 0.2rem 0;
  outline: none;
  outline: none;
}

ul li span:hover {
  border-bottom: 3px solid #ff5252;
  cursor: pointer;
}

/*----------end------------*/


/*Styles for nav show and hide*/
.show {
  left: 0px;
  top: 0px;
}

.hide {
  left: -3000px;
}
/*----------end------------*/

.close {
  margin-top: 6px;
  font-size: 120%;
}

.close:hover {
  color: #ff5252;
  cursor: pointer;
}
/*----------end------------*/
