<div [class]="'room-service-container ' + backgroundClass">
  <div class="room-service-content">
    <h4>{{ roomService.name }}</h4>
    <ul>
      <li *ngFor="let service of roomService.services">
        {{ service }}
      </li>
    </ul>
  </div>
</div>
