@media (min-width: 800px) {
  .room-service-container {
    width: 260px;
    height: 300px;
    padding: 0px;
  }

  .room-service-content {
    padding: 1rem;
  }

  .white {
    background: #F6F6F6;
  }
}
