h3 {
  padding-left: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  height: 3rem;
}

img {
  width: 100%;
  height: auto;
}

.desc-container {
  background: #F6F6F6;
  padding: 1rem;
  font-size: 150%;
}
