@media (min-width: 800px) {

  h3 {
    width: 100%;
    max-width: 980px;
  }

  .services {
    max-width: 920px;
    display: flex;
    justify-content: space-around;
    background: #F6F6F6;
  }

  .service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F6F6;
  }

  .desc-container p {
    max-width: 920px;
    margin: auto;
  }

  .desc-container {
    width: 100%;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-container {
    width: 100%;
  }
}
