<section>
  <div class="about-container">
    <h3>About</h3>
    <div class="desc-container">
      <p>There’s a new way to stay in a city: live like a local.
        We provide fully furnished, high-end, affordable homes ranging
        from one bedroom to as large as eight bedrooms.
        You can rely on us to find you a perfect place to call home during
        your stay in San Francisco. Our goal is to provide you with an unforgettable living experience.</p>
    </div>
    <div class="img-container">
      <img src="assets/img/melbourne-night-view.jpeg">
    </div>
  </div>

  <div class="service-container">
    <h3>Services</h3>
    <div class="services">
      <app-room-service *ngFor="let roomService of roomServices; let i = index"
                        [roomService]="roomService"
                        [backgroundClass]="getBackgroundClass(i)"></app-room-service>
    </div>
  </div>
</section>
