<section>
  <div class="location-content-container">
    <div class="google-map">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
    <div class="why-us">
      <h2>Why book us?</h2>
      <ul>
        <li>Near Southern Cross Station</li>
        <li>Located at Free Tram Zone</li>
        <li>2 minutes Walking to Skybus</li>
        <li>Free Pool and Gym</li>
        <li>Private parking in the same building</li>
      </ul>
    </div>
  </div>
</section>
