@media (min-width: 800px) {
  .location-content-container {
    display: flex;
    max-width: 920px;
    margin: 0 auto;
  }

  .google-map {
    width: 50%;
    order: 2;
  }

  .why-us {
    width: 50%;
    order: 1;
  }

  .why-us h2 {
    padding-left: 1.8rem;
  }

  .why-us ul {
    margin-left: 1.8rem;
  }
}
