<form>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Name *">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Email *">
    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Subject *">
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="6" placeholder="Message *"></textarea>
  </div>
  <button class="btn btn-dark">Send</button>
</form>
