@media (min-width: 500px) {
  p {
    margin: 0px;
  }

  h3 {
    align-self: flex-start;
  }

  img {
    width: 490px;
    height: 383px;
    object-fit: cover;
  }

  .attraction {
    display: flex;
    justify-content: center;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
  }

  .img-container {
    max-width: 490px;
  }

  .desc-container {
    font-size: 120%;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    max-width: 490px;
  }

  .gray {
    background: #F6F6F6;
  }

  .white {
    background: white;
  }

  .gray .img-container {
    order: 2;
  }

  .gray .desc-container {
    order: 1;
  }

  .white .img-container {
    order: 2;
  }

  .white .desc-container {
    order: 1;
  }
}
