<div [class]="'attraction ' + attractionClass">
  <div class="content-container">
    <div class="img-container">
      <img [alt]="attraction.alt"
           [src]="base + attraction.fileName"
           style="">
    </div>

    <div class="desc-container">
      <h3>{{ attraction.alt }}</h3>
      <p>
        {{ attraction.desc }}
      </p>
    </div>
  </div>
</div>
