@media (min-width: 980px) {
  .content-container {
    flex-direction: row;
  }

  .gray .img-container{
    order: 2;
  }

  .gray .desc-container{
    order: 1;
  }

  .white .img-container{
    order: 1;
  }

  .white .desc-container{
    order: 2;
  }
}
