<footer>
  <div class="footer-container">
    <div class="footer-address">
      <h3>Address</h3>
      <ul>
        <li *ngFor="let addressItem of address">{{ addressItem }}</li>
      </ul>
    </div>

    <div class="footer-payment-methods">
      <h3>We Accept</h3>
      <ul>
        <li *ngFor="let paymentMethod of paymentMethods"
            [class]="paymentMethod.icon + ' icon big'"
            style="margin-right: 0.3rem"
            [ngbTooltip]="tipPaymentMethod">
          <ng-template #tipPaymentMethod>
            <p style="color: black;">{{ paymentMethod.tip }}</p>
          </ng-template>
        </li>
      </ul>
    </div>

    <div>
      <h3>Contact Us</h3>
      <ul>
        <li *ngFor="let contact of contactItems">
          {{ contact }}
        </li>
      </ul>
    </div>

  </div>

  <div class="footer-social-container">
    <ul class="footer-social">
      <li *ngFor="let socialItem of socialMediaItems"
          [class]="socialItem.icon + ' big'"
          style="margin-right: 0.8rem"
          [ngbTooltip]="tipSocial"
          [disableTooltip] = "socialItem.tooltip">
        <ng-template #tipSocial><img [src]="socialItem.imgUrl" width="100%" height="100%"></ng-template>
      </li>
    </ul>
  </div>
</footer>
