footer {
  margin: 0 auto;
  width: 100%;
  padding: 35px 45px;
  color: white;
  background: black;
}

ul {
  padding-left: 0px;
  list-style-type: none;
  font-size: 1.3rem;
}

h3 {
  margin-bottom: 1rem;
}

.big {
  font-size: 2rem;
}

.footer-social {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.fb:hover {
  color: #3b5998;
}

.tw:hover {
  color: #0084b4;
}

.li:hover {
  color: #00c300;
}

.we:hover {
  color: #09b83e;
}

::ng-deep .tooltip-inner {
  background: white;
}
