@media (min-width: 800px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 12rem;
    margin: 0px;
    max-width: 1024px;
    margin: auto;
  }

  .footer-address,
  .footer-payment-methods,
  .footer-contact {
    width: 30%;
  }

  .footer-social {
    margin: 0;
    justify-content: flex-start;
  }

  .footer-social-container {
    padding-left: 2rem;
    position: relative;
    bottom: 2rem;
    max-width: 1024px;
    margin: auto;
  }


}
