<div class="row">
  <div class="col-md-12">
    <app-core-search></app-core-search>
  </div>
</div>

<div class="row" style="margin-bottom: 1rem;">
  <div class="col-md-12">
    <app-carousel></app-carousel>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-features></app-features>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-intro></app-intro>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-location></app-location>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-comment></app-comment>
  </div>
</div>
