.search {
  padding: 1rem 3rem;
  color: white;
  width: 90%;
  margin: 1rem auto;
  background: #F6F6F6;
}

.search-control {
  margin-bottom: 1rem;
}

.button-container {
  text-align: center;
}

button {
  width: 175px;
}
