@media (min-width: 800px) {
  .search {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .date-input {
  }

  .number-input {
    width: 70%;
  }

  .search-control {
    margin-bottom: 0px;
  }

  .button-container {
    margin: 0px;
  }

  button {
    width: 80px;
    margin: 0px;
  }
}
