@media (min-width: 500px) {
  .search {
    margin: 0px;
    width: 100%;
  }

  .date-container,
  .input-container{
    display: flex;
    align-items: center;
  }

  .search-control {
    width: 60%;
    margin-right: 1rem;
  }

  .button-container {
    text-align: right;
    /*added this to right align with other controls*/
    margin-right: 1rem;
  }
}
