<div class="search">

  <div class="date-container">
    <div class="search-control date-input">
      <app-core-datepicker placeholder="Check In"></app-core-datepicker>
    </div>
    <div class="search-control  date-input">
      <app-core-datepicker placeholder="Check Out"></app-core-datepicker>
    </div>
  </div>

  <div class="input-container">
    <div class="search-control number-input">
      <app-core-dropdown placeholder="Adults"></app-core-dropdown>
    </div>
    <div class="search-control number-input">
      <app-core-dropdown placeholder="kids"></app-core-dropdown>
    </div>
  </div>

  <div class="button-container">
    <button class="btn btn-dark">Search</button>
  </div>

</div>
