.rating p {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0.5rem;
  font-size: 90%;
}

.filled {
  color: #f1b020;
}

.avatar-circle {
  width: 48px;
  height: 48px;
  background-color: black;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.initials {
  position: relative;
  top: 2px; /* 25% of parent */
  font-size: 15px; /* 50% of parent */
  line-height: 50px; /* 50% of parent */
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

.avatar-container {
  display: flex;
}

.comment-info-container {
  margin-left: 0.5rem;
}

.comment-info-container p {
  color: #686f7a;
  margin-bottom: 0px;
}

.review-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid rgb(222, 223, 224);
}

button {
  width: 100px;
  margin-right: 0.5rem;
}
