@media (min-width: 800px) {
  .review-container {
    flex-direction: row;
    justify-content: center;
    padding: 0px 4rem;
    margin-bottom: 2rem;
    border-bottom: none;
    min-width: 460px;
  }

  .avatar-container {
    padding-top: 0.8rem;
    position: relative;
    top: 20%;
  }

  .rating {
    width: 80%;
    margin-left: 2rem;
  }

}
