<div class="review-container">

  <div class="avatar-container" style="max-width: 130px;">
    <div class="avatar-circle">
      <span class="initials">{{ getNameInitial() }}</span>
    </div>

    <div class="comment-info-container">
      <p>{{ review.reviewDate }}</p>
      <p>{{ review.userName }}</p>
    </div>
  </div>

  <div class="rating" style="max-width: 500px;">

    <ngb-rating [(rate)]="review.rate" [readonly]="readonly">
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
      </ng-template>
    </ngb-rating>

    <P style="max-width: 500px;">{{ review.comment }}</P>
    <div *ngIf="isCurrUserAdmin && isUserAuthenticated">
      <button class="btn btn-danger" (click)="editReview()">Edit</button>
      <button class="btn btn-danger" (click)="deleteReview()">Delete</button>
    </div>
  </div>

</div>

<ngb-alert class="notification" *ngIf="responseMessage"
           type="success"
           (close)="responseMessage = null">
  {{ responseMessage }}
</ngb-alert>

