.page-header {
  margin-bottom: 0px;
}

.page-header-container {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  .page-header-container {
    margin: auto;
    max-width: 680px;
    display: flex;
    justify-content: left;
  }
}
