<section>
  <app-core-search></app-core-search>
  <div class="page-header-container">
    <h3 class="page-header">Apartment & Suites</h3>
  </div>
  <hr>
  <app-suite *ngFor="let suite of suites" [suite]="suite"></app-suite>
</section>
