<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-core-header></app-core-header>
      <app-core-sidebar></app-core-sidebar>
      <app-core-nav-bar></app-core-nav-bar>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="row">
    <div class="col-md-12">
      <app-core-footer></app-core-footer>
      <app-core-copyright></app-core-copyright>
    </div>
  </div>

</div>

<app-core-review-modal></app-core-review-modal>
