p {
  margin: 0;
  font-size: 1.5rem;
}

a {
  font-size: 120%;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F6F6F6;
  padding: 1rem 2rem;
}

button {
  margin-top: 1rem;
  margin-left: 1rem;
}

@media (min-width: 420px) {
  button {
    width: 100px;
    float: right;
    margin-top: 0.8rem;
  }
}
/*spinner*/
.loader {
  margin: auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
