<section>
  <h2><span>People say the nicest things… </span></h2>
  <div class="comment-container">
    <button class="btn btn-dark" (click)="writeReview()">write a review</button>
    <div *ngFor="let review of reviews" class="review">
      <app-core-user-review [review]="review" [readonly]="true"></app-core-user-review>
    </div>
  </div>
  <div class="loader" [ngClass]="{'show': isLoading, 'hide': !isLoading}"></div>
  <div style="text-align: center;">
   <a (click)="loadMore(5)">{{ loadText }}</a>
  </div>
</section>
