@media (min-width: 800px) {
  h2 {
    max-width: 920px;
    margin: auto;
    position: relative;
    right: 17rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }

  section {
    display: flex;
    align-content: center;
  }

  .comment-container {
    margin: auto;
    max-width: 920px;
  }
}
