<section style="margin-bottom: 2rem">
  <div class="header-container">
    <h3>Attractions Nearby</h3>
  </div>
  <app-attraction *ngFor="let attraction of attractions; let i = index"
                  [attraction]="attraction"
                  [attractionClass]="getAttractionClass(i)"></app-attraction>
</section>
