section {
  display: flex;
  flex-direction: column;
}

h3 {
  height: 3rem;
  align-self: center;
}

.header-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 500px) {
  h3 {
    height: 5rem;
    margin: 0px;
    padding-top: 1.5rem;
  }
}

@media (min-width: 980px) {
  h3 {
    width: 100%;
    max-width: 980px;
    padding-left: 2rem;
  }
}
