<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
              [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let image of images">
    <div style="text-align: center">
      <img [src]="image" alt="Random slide" class="slide-img">
      <div class="carousel-caption">
        <h3>No mouse navigation</h3>
        <p>This carousel hides navigation arrows and indicators.</p>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
