.main-header {
  width: 100%;
  height: 10rem;
  background: rgba(0, 0, 0, 1);
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  position: relative;
  font-size: 14px;
  background-color: transparent;
  border-color: #abadaf;
  border-width: 2px;
  border-radius: 15px;
  padding: 5px 10px 5px 35px;
  border: 2px solid #abadaf;
  min-height: 15px;
  margin-right: 5%;
  outline: none;
}

.asp {
  color: white;
  margin-right: 20%;
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 0;
}

button {
  width: 8rem;
  border-radius: 0.17rem;
}

/*Hamburger menu icon */
.menu {
  margin-top: 0.6rem;
  font-size: 2rem;
  color: white;
}

.menu:hover {
  color: #ff5252;
  cursor: pointer;
}
/*----------end------------*/
