<header class="main-header">
  <div class="menu-container">
    <i class="fas fa-bars menu" (click)="toggleSideBar()"></i>
  </div>
  <div class="asp-container">
    <div class="asp">
      <p class="title">ASP</p>
      <p class="desc">Australia Serviced Apartment</p>
    </div>
    <div class="asp-button">
      <button>Sign in</button>
    </div>
  </div>

</header>
