@media (min-width: 500px) {
  .main-header {
    height: 4rem;
  }

  .menu-container {
    margin-left: 5rem;
  }

  .asp-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .asp {
    display: flex;
    align-items: center;
    position: relative;
    left: 3%;
    margin: 0px;
  }

  .asp-button {
    padding-top: 0.5rem;
  }

  p {
    margin-bottom: 0px;
    margin-right: 1rem;
  }
}
