<nav>
  <ul>
    <li *ngFor="let menuItem of menuItems">
      <span *ngIf="menuItem.routerLink; else noRoutingAnchor"
            routerLink="{{ menuItem.routerLink }}"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{ menuItem.label }}</span>
      <ng-template #noRoutingAnchor>
        <span>{{ menuItem.label }}</span>
      </ng-template>
    </li>
  </ul>
</nav>
