nav {
  height: 4rem;
  display: none;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-align: justify;
  width: 70%;
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
  padding: 0.8rem;
  border-bottom: 2px solid white;
  transition: 0.8s;
  cursor: pointer;
}

li:hover,
li:active {
  border-bottom: 2px solid black;
}

span {
  outline: none;
}
