<div class="input-group">
  <input [(ngModel)]="numberOfPeople" class="form-control" [placeholder]="placeholder">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="increase()">
      +
    </button>

    <button class="btn btn-outline-secondary" type="button" (click)="decrease()">
      -
    </button>
  </div>
</div>
