.feature-container {
  display: flex;
  justify-content: center;
}

.feature-content-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;

}

i {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
