<div class="feature-container">
  <div class="feature-content-container">
    <div *ngFor="let feature of features" class="feature">
      <i [class]="feature.icon + ' icon'"></i>
      <p>{{ feature.name }}</p>
    </div>
  </div>
</div>
