@media (min-width: 800px) {

  .suite-container {
    max-width: 920px;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }

  .suite-photo {
    width: 40%;
    max-width: 240px;
  }

  .suite-info {
    width: 60%;
  }
}
