
<div class="suite-container">
  <div class="suite-photo">
    <img [src]="suite.imgPath">
  </div>

  <div class="suite-info">
    <div class="suite-desc">
      <h4>{{ suite.title }}</h4>
      <p>{{ suite.desc }}</p>
      <ul class="suite-text-list">
        <li *ngFor="let feature of suite.features">
          {{ feature }}
        </li>
      </ul>
      <ul class="suite-icon-list">
        <li *ngFor="let icon of suite.icons">
          <i [class]="icon.class + ' icon'"></i>
        </li>
      </ul>
    </div>

    <div class="suite-pricing">
      <p>From</p>
      <h3>${{ suite.price }}</h3>
      <button class="btn btn-dark" (click)="onNavigate(suite.hyperLink)">More Info</button>
    </div>
  </div>
</div>

<hr>
