img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

h3 {
  color: #616161;
  font-size: 2rem;
  margin-bottom: 1rem;
}

h4 {
  margin-top: 1rem;
  color: #616161;
  font-weight: bold;
}

p {
  text-align: center;
}

button {
  width: 150px;
}

.suite-container {
  display: flex;
  flex-direction: column;
}

.suite-photo {
  text-align: center;
}

.suite-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suite-info {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.suite-text-list {
  padding: 0px;
}

.suite-icon-list {
  width: 100%;
  padding: 0px;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

.suite-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
