@media (min-width: 500px) {

  h4 {
    margin-top: 0px;
  }

  .suite-container {
    align-items: center;
  }

  .suite-photo {
    width: 80%;
  }

  .suite-info {
    flex-direction: row;
    justify-content: center;
    width: 80%;
  }

  .suite-desc {
    width: 60%;
    padding: 1rem 2rem 0rem 2rem;
  }

  .suite-pricing {
    width: 40%;
    padding-top: 3.5rem;
  }
}
