/*google font work sans - same as momenton's website*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*fontawesome for icons*/
@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');

/*Generic html setting*/
html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Open Sans Condensed', sans-serif !important;
  margin: 0px;
}
/*----------end------------*/

hr {
  max-width: 920px;
  background-color: #F2CFB5;
}

@media (min-width: 500px) {
  hr {
    width: 80%;
  }
}

@media (min-width: 800px) {
  hr {
    width: 90%;

  }
}



/*Generic icon style*/
.logo {
  color: #ff5252;
  font-size: 2rem !important;
  margin-bottom: 4px;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
/*----------end------------*/


/*Generic icon style*/
.icon {
  font-size: 1.25rem;
  padding: 0;
  text-align: center;
}
/*----------end------------*/


/*Notation text style for clickables*/
.notation {
  text-align: center;
  margin-top: 5px;
  font-size: 10px;
  color: #606472;
  white-space: nowrap;
}
/*----------end------------*/

/*Overwrite bootstrap styles*/
.col-md-12 {
  padding: 0px !important;
}

.active {
  color: #AAA8A8;
}

.star {
  font-size: 1.5rem;
  color: #f9db98;
}

.notification {
  position: fixed;
  top: 30%;
  right: 0;
}
