<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">{{ title }}</h4>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Rating:</label>
        <div>
          <ngb-rating class="rating" [(rate)]="rate"></ngb-rating>
        </div>
      </div>
      <div class="form-group">
        <label for="userName">Your Name:</label>
        <input #nameInput
               class="form-control"
               id="userName"
               [(ngModel)]="userName"
               [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label for="comment">Review (500 characters):</label>
        <textarea class="form-control"
                  id="comment"
                  rows="6"
                  maxlength='500'
                  [(ngModel)]="reviewText"
                  [ngModelOptions]="{standalone: true}">
        </textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="c('Save click'); onModalDismiss()">Save</button>
  </div>
</ng-template>

<ngb-alert class="notification" *ngIf="responseMessage"
           type="success"
           (close)="responseMessage = null">
  {{ responseMessage }}
</ngb-alert>
