@media (min-width: 500px) {

  section h3 {
    padding-top: 1.2rem;
  }
}

@media (min-width: 800px) {

  .contact-intro-container {
    display: flex;
  }

  .contact-intro-img {
    width: 50%;
  }

  .contact-intro-text {
    width: 50%;
  }

  .contact-content-container {
    display: flex;
  }

  .contact-details-container {
    width: 50%;
    order: 2;
    margin-top: 1rem;
  }

  .contact-form-container {
    width: 50%;
    padding: 2rem;
  }
}
