@media (min-width: 1080px) {

  section h3 {
    display: flex;
    padding-top: 1.4rem;
    justify-content: center;
  }

  h3 span {
    display: inline-block;
    width: 980px;
    padding-left: 4rem;
  }

  .contact-intro-container {
    justify-content: center;
    background: #F6F6F6;
  }

  .contact-intro-text {
    width: 460px;
  }

  .contact-intro-img {
    width: 460px;
  }

  .contact-content-container {
    justify-content: center;
  }

  .contact-details-container {
    width: 460px;
  }

  .contact-details-container h3 {
    text-align: start;
  }

  .contact-form-container {
    width: 460px;
  }
}
