<section>

  <h3><span>Contact Details</span></h3>

  <div class="contact-intro-container">
    <div class="contact-intro-text">
      <p>If you have any questions,
        please contact us by telephone or
        email and we'll get back to you
        as soon as possible. We look forward to hearing from you.</p>
    </div>

    <div class="contact-intro-img">
      <img src="assets/img/contact-us.jpg">
    </div>
  </div>

  <div class="contact-content-container">
    <div class="contact-details-container">
      <h3>ASP</h3>

      <div class="contact-details-address">
        <span>33 Rose Lane</span>
        <span>Melbourne, VIC 3000</span>
      </div>

      <div class="contact-details-media">
        <span>Tel: 123-123-322</span>
        <span>Wechat: asdasdj1</span>
      </div>

      <div class="contact-details-email">
        <span>111@222.com</span>
      </div>
    </div>

    <div class="contact-form-container">
      <app-contact-form></app-contact-form>
    </div>
  </div>
</section>
