section {
  display: flex;
  flex-direction: column;
}

section h3 {
  height: 5rem;
  align-self: center;
  margin: 0px;
  padding-top: 0.7rem;
}

.contact-intro-text {
  font-size: 150%;
  padding: 2rem 2rem;
  background: #F6F6F6;
}

.contact-intro-img img {
  width: 100%;
  height: auto;
}

.contact-details-container span {
  font-size: 120%;
}

.contact-details-container h3 {
  padding-top: 1.5rem;
  padding-left: 2rem;
}

.contact-details-address {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  margin-top: 1rem;
}

.contact-details-media {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  margin-top: 2rem;
}

.contact-details-email {
  padding-left: 2rem;
  margin-top: 2rem;
}

.contact-form-container {
  padding: 2rem;
}
